<div class="app-container">
  <!-- ko widget: {kind:'productNavigation'}--><!--/ko-->
  <div class="app-main"   data-bind="css:{'app-navigation--open': uiController.appMenuOpen()}">
    <div class="app-header">
      <!-- ko widget: {kind:'globalHeader'}--><!--/ko-->
    </div>
    <div class="app-page-container"> 


      <div class="app-page app-list">



        <div class="app-page-masthead app-page__header">

          <div class="app-page-masthead__titlebar  header"> 
            <div class="app-page-masthead__titlebar-left  header__left"> 
              <h2 class="app-page-masthead__titlebar-title  header__title">
                <small><a href="#accountingDashboard"><i class="icon-meter"></i></a> <i class="icon-arrow-right3"></i> </small>  Receipt bank statement 
              </h2>
            </div>
            <div class="app-page-masthead__titlebar-right  header__right grid grid-row--align-right">
              <div>
                <label class="branch-data-select__label" for="branch-data-select">Showing data from </label>
              </div>
              <div>
                <select id="branch-data-select" class="form-control input-sm">
                  <option>All branches</option>
                  <option>Swansea branch</option>
                  <option>Cardiff branch</option>
                  <option>Newport branch</option>
                  <option>Pontpandy branch</option>
                </select>
              </div>
            </div>
          </div>
          
        </div>



        <div class="app-page__content">
          
          <aside class="app-page__aside">
            <!--<div class="app-page-aside__header  header">
              <div class="header__left">
                <h4 class="app-page-aside-header__title  header__title">
                  Bank statement items
                </h4>
              </div>
            </div>-->
            <div class="app-page-aside__content">
              
              <ul class="accordian">
                <li id="statement-group-autoMatched" class="accordian__item" data-bind="css:{'accordian__item--open': showAutoMatched}, template:{ name: 'statement-group-template', data: {items: autoMatched, title: 'Auto-matched', show: showAutoMatched, showHeader: true}}">
                  
                </li>
                <li id="statement-group-notMatched" class="accordian__item" data-bind="css:{'accordian__item--open': showUnmatched}, template:{ name: 'statement-group-template', data: {items: notMatched, title: 'Unmatched', show: showUnmatched, showHeader: false}}">
                  
                </li>
                <li id="statement-group-confirmed" class="accordian__item" data-bind="css:{'accordian__item--open': showConfirmed}, template:{ name: 'statement-group-template', data: {items: confirmed, title: 'Confirmed', show:showConfirmed, showHeader: false}}">
                  
                </li>
              </ul>
              
              <div class="app-page-aside__footer  grid grid--padded-sm grid-row--align-right grid-row--center">
                <div class="grid__item">
                  <button class="btn btn-default">Save</button>
                </div>
                <div class="grid__item">
                  <button class="btn btn-success" data-bind="click:processReceipts">Process receipts</button>
                </div>
              </div>
              
            </div>



            <script type="text/html" id="statement-group-template">
              <div class="accordian__header  grid grid-row--center grid--padded-sm"  data-bind="click:$parent.handleOpenAccordianClick.bind($parent, show)">
                <div class="accordian-header__icon  grid__item"><i class="icon-arrow-right3"></i></div>
                <div class="accordian-header__title  grid__item  grid__item--fill" data-bind="text:title"></div>
                <div class="accordian-header__badge  grid__item"><span class="badge badge-accent" data-bind="text:items().length">scs</span></div>
              </div>
              <div class="accordian__body">
                <!-- ko if:showHeader -->
                <div class="accordian__footer grid  grid-row--align-right" data-bind="visible: items().length > 0">
                  <button class="btn btn-sm btn-success btn-block" data-bind="click:$parent.handleConfirmAllClick.bind($parent)">Confirm all auto-matched</button>
                </div>
                <!-- /ko -->
                <div class="accordian-body__inner">
                  <table class="table">
                    <tbody data-bind="foreach:items">
                      <tr data-bind="css:{active: $parents[1].selectedItem() == $data, 'border-left-warning': status == 'auto-matched', 'border-left-danger': status == 'not matched', 'border-left-success': status == 'confirmed'}, click:$parents[1].handleStatementItemClick.bind($parents[1]), template:{ name: 'payment-template', data: $data }">
                        
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </script>

            <script type="text/html" id="payment-template">

                <td>
                  <strong data-bind="text:reference"></strong><br/>
                  <span data-bind="text:name"></span>
                </td>
                <td>
                  <strong data-bind="text:'£' + amount"></strong><br/>
                  <span data-bind="text:date"></span>
                </td>
                <td width="10" class="indicator"><span class="icon-arrow-right3"></span></td>

            </script>
          </aside>

          <div class="app-page__main-content  app-page-list   app-page__content--vertical-layout" >
            <div class="app-page-component" data-bind="if:selectedItem()">
              <div class="app-page-component__header  header">
                <div class="header__left grid grid--padded">
                  <!-- ko if:selectedItem().status == 'auto-matched' -->
                      <div class="grid__item">
                        <span class="label label-warning">Auto matched</span>
                      </div>

                      <div class="grid__item  grid__item--fill">
                          <h4>This payment has been automatically matched to the account below. Confirm this match or unmatch it.</h4>
                      </div>
                    <!-- /ko -->

                    
                    <!-- ko if:selectedItem().status == 'not matched' -->
                      <div class="grid__item">
                        <span class="label label-danger">Not matched</span>
                      </div>

                      <div class="grid__item  grid__item--fill">
                          <h4>We have been unable to find a matching account. Please use the search below to find the correct account.</h4>
                      </div>
                    <!-- /ko -->


                    <!-- ko if:selectedItem().status == 'confirmed' -->
                      <div class="grid__item">
                        <span class="label label-success">Confirmed</span>
                      </div>

                      <div class="grid__item  grid__item--fill">
                        <h4>This payment has been allocated to the account below.</h4>
                      </div>
                    <!-- /ko -->

                  <!--<h4>Showing receipt <span data-bind="text:(selectedItem().index + 1)"></span> of <span data-bind="text:statement().length"></span></h4>-->
                </div>
                <div class="header__right grid grid--padded-sm grid-row--align-right">
                  <div class="grid__item">
                    <button class="btn btn-sm btn-default" data-bind="click:selectPreviousItem"><i class="icon-arrow-left2"></i> Previous</button>
                  </div>
                  <div class="grid__item">
                    <button class="btn btn-sm btn-default" data-bind="click:selectNextItem">Next <i class="icon-arrow-right2"></i></button>
                  </div>
                </div>
              </div>
              <div class="app-page-component__body">

                <div class="well well-sm grid grid--column grid--padded">
                  
                  <div class="grid  grid--padded  grid__item">
                    <div class="grid__item">
                      <dl class="dl-horizontal">
                        <dt>Payment ref:</dt>
                        <dd data-bind="text:selectedItem().reference"><dd>
                        <dt>Name:</dt>
                        <dd data-bind="text:selectedItem().name"><dd>
                      </dl>
                    </div>
                    <div class="grid__item ">
                      <dl class="dl-horizontal">
                        <dt>Date received:</dt>
                        <dd data-bind="text:selectedItem().date"><dd>
                        <dt>Amount received:</dt>
                        <dd data-bind="text:selectedItem().amount"><dd>
                      </dl>
                    </div>
                  </div>

                  <!-- ko if:selectedItem().status == 'not matched' -->
                  <div class="grid__item grid grid--padded grid-row--center">
                    <div class="grid__item ">
                        <div class="text-danger">
                          <i class="icon-warning"></i> If you are unable to identify the correct account please add the payment to you suspense account. 
                        </div>
                    </div>
                    <div class="grid__item">
                      <button class="btn btn-danger btn-sm"><i class="icon-skull"></i> Suspend funds</button>
                    </div>
                    
                  </div>
                  <!-- /ko -->

                </div>
              </div>
            </div>
              
              <div class="app-page-component  table-component">
              
                <div class="table-component__header  app-page-component__header  header">
                  <div class="table-component-header__left  header__left  ">
                    <h4 class="table-component-header__title  header__title">
                      <!-- ko if:selectedItem() && selectedItem().status == 'auto-matched' -->
                        Matched account
                      <!-- /ko -->

                      <!-- ko if:selectedItem() && selectedItem().status == 'not matched' -->
                        Search for an account
                      <!-- /ko -->

                      <!-- ko if:selectedItem() && selectedItem().status == 'confirmed' -->
                        Matched account
                      <!-- /ko -->
                    </h4>
                  </div>
                  <div class="table-component-header__right  header__right  grid  grid--padded-sm  grid-row--align-right">
                    <form class="form-inline form-group-sm  grid__item" data-bind="event:{submit:()=>{return false;}}">
                      <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search for payment..."  data-bind="value: searchText(), event:{'keyup': handleSearchKeyUp, input: handleSearchChange}">
                        <div class="input-group-addon"><i class="icon-search"></i></div>
                      </div>
                    </form>
                    <div class="grid__item">
                      <button class="btn btn-default btn-sm">Filters</button>
                    </div>
                  </div>
                </div>

                <table id="app-page-main-list" class="app-page-list-content__table  table  table-striped table-expandable  table-fixed-header  table-fill "  data-bind="css:{'blank-state': tenants().length == 0}">
                  <thead>
                    <tr>
                      <th style="max-width:3rem"></th>
                      <th style="max-width:30rem">Reference ID</th>
                      <th style="max-width:30rem" >Account holder</th>
                      <th style="max-width:30rem" >Account balance (£)</th>
                      <th>No of invoices</th>
                    </tr>
                  </thead>
                  <tbody data-bind="event:{scroll: handleTableScroll}, foreach: tenants">
                    <tr>
                      <td data-bind="click:$parent.expandRow.bind($parent)">
                        <span class="caret"></span>
                      </td>
                      <td data-bind="text:reference"></td>
                      <td data-bind="text:name"></td>
                      <td data-bind="text:balance"></td>
                      <td><span class="badge"  data-bind="text:invoices.length">2</span></td>
                    </tr>
                    <tr class="tr-expand-content" data-bind="visible: expanded()">
                      <td colspan="5">
                        
                        <!-- ko if: invoices.length > 0 -->
                          <table style="margin-left:3rem" class="table table-condensed">
                            <thead>
                              <tr>
                                <th style="width:30rem">Item</th>
                                <th style="width:30rem">Owed from</th>
                                <th style="width:30rem">Amounts (£)</th>
                                <th style="width:15rem">Pay</th>
                                <th></th>
                              </tr>
                            </thead>
                            <tbody data-bind="foreach: invoices">
                              <tr>
                                <td>
                                  <div><strong data-bind="text: '#' + id"></strong></div>
                                  <div data-bind="text: 'Rent demand for ' + description"></div>
                                </td>
                                <td>
                                  <span data-bind="text: owedFrom"></span>
                                  <span class="label label-warning">Due now!</span>
                                </td>
                                <td data-bind="text: (-total)"></td>
                                <td><input type="input" class="form-control input-sm" placeholder="Pay amount" data-bind="value:total" /></td>
                                <!--<td><label><input checked="checked" type="checkbox" class=""> Pay this</label></td>-->
                                <!--<td><button class="btn btn-sm btn-default"><span class="icon-pencil"></span> edit amount</button></td>-->
                              </tr>
                            </tbody>
                            <tfoot>
                              <tr>
                                <th colspan="2">Balance brought forward</th>
                                <th colspan="3">0.00</th>
                              </tr>
                              <!--<tr>
                                <th colspan="2">Account balance</th>
                                <th colspan="3" data-bind="text:(balance)">0.00</th>
                              </tr>-->
                              <tr>
                                <th colspan="2">Amount received in payment</th>
                                <th colspan="3" data-bind="text:($parent.selectedItem().amount)"></th>
                              </tr>
                              <tr class="warning">
                                <th colspan="2">New balance</th>
                                <th colspan="3">0.00</th>
                              </tr>
                              <tr>
                                <th colspan="2"></th>
                                <th colspan="2">
                                  <!-- ko if:$parent.selectedItem() && ($parent.selectedItem().status == "auto-matched") -->
                                  <div class="grid grid--padded-sm">
                                    <div class="grid__item">
                                      <button type="submit" class="btn btn-default btn-success" data-bind="click:$parent.handleAllocateToAccountClick.bind($parent)"><i class="icon-checkmark"></i> Confirm match</button> 
                                    </div>
                                    <div class="grid__item">
                                      <button class="btn btn-default" data-bind="click:$parent.handleUnmatchItemsClick.bind($parent)"><i class="icon-cross"></i> Unmatch these items</button>
                                    </div>
                                  </div>
                                  <!-- /ko -->

                                  <!-- ko if:$parent.selectedItem() && ($parent.selectedItem().status == "not matched") -->
                                  <button type="submit" class="btn btn-default btn-success" data-bind="click:$parent.handleAllocateToAccountClick.bind($parent)"><i class="icon-checkmark"></i> Allocate to this account</button>
                                  <!-- /ko -->

                                  
                                  <!-- ko if:$parent.selectedItem() && ($parent.selectedItem().status == "confirmed") -->
                                  <button type="submit" class="btn btn-default btn-danger" data-bind="click:$parent.handleUndoClick.bind($parent)"><i class="icon-undo"></i> Undo</button>
                                  <!-- /ko -->
                                </th>
                              </tr>
                            </tfoot>
                          </table>
                        <!-- /ko -->
                        <!-- ko if: invoices.length == 0 -->
                          <p>No outstanding invoices</p>
                        <!-- /ko -->
                        
                      </td>
                    </tr>
                  </tbody>
                </table>
                <!-- ko if:tenants().length == 0 -->
                  <div class="panel">
                    <div class="panel-body">
                      <p class="lead text-center">
                        <i class="icon-search"></i> <strong>No matchng accounts found</strong>
                      </p>
                    </div>
                  </div>
                <!-- /ko -->
              </div>
          
        </div>
      </div>
    </div>

  </div>
  
                <!-- Modal -->
                <div class="modal fade" id="process-receipts-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content ">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Process receipts</h4>
                      </div>
                      <div class="modal-body text-center" data-bind="css: {'alert-warning': (receiptsProcessingState() == processEnum.notStarted), 'alert-success': (receiptsProcessingState() == processEnum.completed)}">
                        <!-- ko if:receiptsProcessingState() == processEnum.notStarted -->
                        <p><i class="icon-warning icon"></i></p>
                        <p>Are you sure you want to process these <span data-bind="text: confirmed().length"></span> receipts?</p>
                        <p><strong>You cannot undo this once processed!</strong> </p>
                        <!-- /ko -->

                        <!-- ko if:receiptsProcessingState() == processEnum.started -->
                        <p>Processing...</p>
                        <!-- /ko -->

                        
                        <!-- ko if:receiptsProcessingState() == processEnum.completed -->
                        <p>Completed!</p>
                        <!-- /ko -->
                      </div>
                      <div class="modal-footer">
                        <!-- ko if:receiptsProcessingState() == processEnum.notStarted -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-success" data-dismiss="modal" data-bind="click: handleProcessReceiptProceedClick">Proceed</button>
                        <!-- /ko -->

                        <!-- ko if:receiptsProcessingState() == processEnum.started -->
                        <!-- /ko -->

                        
                        <!-- ko if:receiptsProcessingState() == processEnum.completed -->
                        <button type="button" class="btn btn-default" data-dismiss="modal">Done</button>
                        <!-- /ko -->
                        
                      </div>
                    </div>
                  </div>
                </div>
</div>